Day2/WcfClient/Service References/UserStorageServ/UserStorageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.SearchCriterias" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.SearchCriterias" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56663/UserStorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Entities" />
  <xs:complexType name="FirstNameCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirstNameCriteria" nillable="true" type="tns:FirstNameCriteria" />
  <xs:complexType name="LastNameCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LastNameCriteria" nillable="true" type="tns:LastNameCriteria" />
  <xs:complexType name="VisaCriteria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Entities" minOccurs="0" name="visa" type="q1:VisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisaCriteria" nillable="true" type="tns:VisaCriteria" />
</xs:schema>