Day2/WcfClient/Service References/UserStorageServ/UserStorageService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56663/UserStorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Entities" />
  <xs:complexType name="UserBll">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Entities" minOccurs="0" name="Gender" type="q1:UserGender" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.Entities" minOccurs="0" name="VisaRecords" nillable="true" type="q2:ArrayOfVisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBll" nillable="true" type="tns:UserBll" />
  <xs:complexType name="ArrayOfUserBll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBll" nillable="true" type="tns:UserBll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBll" nillable="true" type="tns:ArrayOfUserBll" />
</xs:schema>